.logo{
    width: 100%;
    height: 70px;
    color: black;
    position: relative;
    justify-content: space-evenly;
    font-style: oblique;
    padding-left: 20px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: relative;
    top: 20px;
    color: black;
}
header{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: rgb(241, 234, 234);
    color: white;
    font: color black;
}
.pre{
    height: 120px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
    background-color: azure;
}
.pre one{
    height: 120px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;

}

.button{
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    height: 30px;
    width: 200px;
}


.AchiversIT{
    height: 230px;
    
    border-radius: 10px;
    padding-left: 10px;
    display: flex;
    background-color: aliceblue;

}
.AchiversIT img{
    border-radius: 50%;

}

/* .iachiver img{
    border-radius: 50%;
} */ */

    

.Ait img{
    position: absolute;
    border-radius: 50%;
  
}
.mainlayout{
    display: flex;
    gap: 10px;
    height: 200px;
    
}
.layoutone{
    border: 1px solid black;
    border-radius: 10px;
   background-color: skyblue;
   text-align: center;
   padding-top: 50px;

}
.layouttwo{
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;
    text-align: center;
    padding-top: 50px;
}


.pic img{
    border-radius: 50%;
    background-color: brown;
}
.layoutone img{
    border-radius: 50%;
    position: absolute;
   top: -40px;
   left:250px ;

  

}
.layouttwo img{
    border-radius: 50%;
    position: absolute;
    top: -40px;
    right: 250px;
  

}
.mainlayout{
    position: relative;
}
.Project{
    height: 320px;
    border: 1px solid black;
    border-radius: 10px ;
    padding-left: 10px;
    background-color:aliceblue;
}
.button{
    background-color: blue;
}